<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 Foot-col-1">
        <p>Footer Column 1</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 Foot-col-2">
        <p>Footer Column 2</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 Foot-col-3">
        <p>Footer Column 3</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 Foot-col-4">
        <p>Footer Column 4</p>
    </div>
</div>
</div>