<!-- 1 COLUMN -->
{% if item.acf_fc_layout == 'column_1' %}
	<section class="uk-section">
		<div class="uk-container">
			<div class="uk-column-1">
				{{ item.text_content }}
			</div>
		</div>
	</section>
{% endif %}

<!-- 2 COLUMNS -->
{% if item.acf_fc_layout == 'column_2' %}
	<section class="uk-section">
		<div class="uk-container">
			<div class="uk-column-1-2">
				{{ item.text_content }}
			</div>
		</div>
	</section>
{% endif %}

<!-- 3 COLUMNS -->
{% if item.acf_fc_layout == 'column_3' %}
	<section class="uk-section">
		<div class="uk-container">
			<div class="uk-column-1-3">
				{{ item.text_content }}
			</div>
		</div>
	</section>
{% endif %}

<!-- 4 COLUMNS -->
{% if item.acf_fc_layout == 'column_4' %}
	<section class="uk-section">
		<div class="uk-container">
			<div class="uk-column-1-4">
				{{ item.text_content }}
			</div>
		</div>
	</section>
{% endif %}


<!-- Include Style for Module-->
<style>
	.section_one_column {}
	.section_two_column {}
	.section_three_column {}
	.section_four_column {}
</style>
